.hhChild,
.home {
  position: absolute;
}
.hhChild {
  top: 0;
  left: -9px;
  background-color: var(--color-teal);
  width: 1449px;
  height: 55px;
}
.home {
  margin: 0;
  top: 3px;
  left: 61px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.image5,
.image6,
.image7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7px;
  left: 1330px;
  width: 36px;
  height: 37px;
  background-image: url(/public/image5@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image6,
.image7 {
  top: -15px;
  left: 1249px;
  width: 81px;
  height: 81px;
  background-image: url(/public/image6@2x.png);
}
.image7 {
  top: 2px;
  left: 1388px;
  width: 44px;
  height: 47px;
  background-image: url(/public/image7@2x.png);
}
.image22Icon {
  position: absolute;
  top: 6px;
  left: 17px;
  width: 41px;
  height: 42px;
  object-fit: cover;
}
.hhInner,
.hhItem {
  position: absolute;
  top: 192px;
  left: 1151px;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 277px;
}
.hhItem {
  background-color: #fdfeff;
  height: 423px;
}
.hhInner {
  background-color: var(--color-teal);
  height: 84px;
}
.hh {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
