.personalInformation1Child {
  position: absolute;
  top: 0;
  left: -9px;
  background-color: var(--color-teal);
  width: 1449px;
  height: 55px;
}
.home {
  position: absolute;
  top: 3px;
  left: 61px;
}
.image5,
.image6,
.image7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7px;
  left: 1330px;
  width: 36px;
  height: 37px;
  background-image: url(/public/image5@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image6,
.image7 {
  top: -15px;
  left: 1249px;
  width: 81px;
  height: 81px;
  background-image: url(/public/image6@2x.png);
}
.image7 {
  top: 2px;
  left: 1388px;
  width: 44px;
  height: 47px;
  background-image: url(/public/image7@2x.png);
}
.image22Icon {
  position: absolute;
  top: 6px;
  left: 17px;
  width: 41px;
  height: 42px;
  object-fit: cover;
}
.personalInformation1Item {
  position: absolute;
  top: 88px;
  left: 326px;
  background-color: #e8e8e8;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 963px;
  height: 887px;
}
.personalInformation1Inner {
  position: absolute;
  top: 291px;
  left: 376px;
  background-color: rgba(0, 128, 128, 0.53);
  width: 873px;
  height: 635px;
}
.image22Icon1 {
  position: absolute;
  top: 90px;
  left: 640px;
  width: 267px;
  height: 234px;
  object-fit: cover;
}
.age,
.email {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 350px;
  left: 830px;
}
.age {
  top: 531px;
  left: 774px;
}
.background {
  position: absolute;
  top: 706px;
  left: 408px;
}
.address,
.contactNumber,
.gender,
.id,
.name {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 432px;
  left: 754px;
}
.address,
.gender,
.id,
.name {
  top: 531px;
  left: 407px;
}
.address,
.id,
.name {
  top: 629px;
  left: 408px;
}
.id,
.name {
  top: 437px;
  left: 407px;
}
.id {
  top: 345px;
  left: 427px;
}
.personalInformation1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
