.instanceChild {
  position: absolute;
  height: 100.82%;
  width: 103.83%;
  top: 0;
  right: -1.91%;
  bottom: -0.82%;
  left: -1.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image38Icon,
.teacher {
  position: absolute;
  top: 64.71%;
  left: 0;
}
.image38Icon {
  height: 74.51%;
  width: 65.22%;
  top: 0;
  right: 17.39%;
  bottom: 25.49%;
  left: 17.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.teacherParent {
  position: absolute;
  height: 10.52%;
  width: 55.02%;
  top: 17.84%;
  right: 23.44%;
  bottom: 71.65%;
  left: 21.53%;
  display: none;
}
.classes,
.image39Icon {
  position: absolute;
  top: 66.97%;
  left: 0;
}
.image39Icon {
  height: 66.97%;
  width: 72.97%;
  top: 0;
  right: 13.51%;
  bottom: 33.03%;
  left: 13.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.classesParent {
  position: absolute;
  height: 11.24%;
  width: 53.11%;
  top: 6.29%;
  right: 23.44%;
  bottom: 82.47%;
  left: 23.44%;
}
.image40Icon,
.student {
  position: absolute;
  top: 65.71%;
  left: 0;
}
.image40Icon {
  height: 66.67%;
  width: 75.22%;
  top: 0;
  right: 14.16%;
  bottom: 33.33%;
  left: 10.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.studentParent {
  position: absolute;
  height: 10.82%;
  width: 54.07%;
  top: 30.41%;
  right: 22.97%;
  bottom: 58.76%;
  left: 22.97%;
  cursor: pointer;
}
.image41Icon {
  position: absolute;
  height: 59.63%;
  width: 49.31%;
  top: 0;
  right: 25.69%;
  bottom: 40.37%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.messagesParent {
  position: absolute;
  height: 11.24%;
  width: 68.9%;
  top: 42.68%;
  right: 15.31%;
  bottom: 46.08%;
  left: 15.79%;
  cursor: pointer;
}
.vectorParent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 4.02%;
  right: -4.78%;
  bottom: -4.02%;
  left: 4.78%;
}
.image42Icon,
.users {
  position: absolute;
  top: 70.73%;
  left: 10.38%;
}
.image42Icon {
  height: 85.37%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 14.63%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.usersParent {
  position: absolute;
  height: 12.68%;
  width: 50.72%;
  top: 21.55%;
  right: 19.62%;
  bottom: 65.77%;
  left: 29.67%;
  cursor: pointer;
}
.component1 {
  width: 209px;
  height: 970px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
