.users {
  position: absolute;
  top: 70.73%;
  left: 10.38%;
}
.image42,
.usersParent {
  position: absolute;
  cursor: pointer;
}
.image42 {
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 85.37%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 14.63%;
  left: 0;
  background-image: url(/public/image-42@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.usersParent {
  height: 12.68%;
  width: 50.72%;
  top: 21.55%;
  right: 19.62%;
  bottom: 65.77%;
  left: 29.67%;
}
.component2 {
  margin: 0;
  position: absolute;
  top: 11px;
  left: -9px;
  width: 209px;
  height: 970px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
